h1 {
    text-align: left;
    background-color: black;
    font-weight: bold;
    color: white;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
}
h3 {
    text-align: right;
    background-color: lightskyblue;
    color: darkblue;
}